#menupanel {
	background-image: url(../images/submenupanel.gif);
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	background-position: bottom;
	font-family: Arial, verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	padding:0;
    margin:0;
	
	}
	
.menupanel_txt {	
	font-family: Arial, verdana, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	color: #1B4D9E;
}

#menupanel li {
list-style:none;
}


#menupanel ul {
		list-style-type:none;
		margin: 0;
		padding: 0;
		border: none;
		}

#menupanel ul li{
		list-style-type:none;
		margin: 0;
		padding-left: 8px;
		border: none;
		line-height: 18px;
		}
		
#menupanel li a {
	font-family: Arial, verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #000000;
	list-style-type:none;
	padding-left: 12px;
	margin:0px;
}


#menupanel li a:hover {
	font-family: Arial, verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	color: #0B46A8;
	background-image:url(../images/arrow_nav_hover.png);
	background-repeat:no-repeat;
	background-position:3px;
	list-style-type:none;
	padding-left: 12px;
	margin:0px;
}

#menuSelected
{
	font-family: Arial, verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	color: #0B46A8;
	background-image:url(../images/arrow_nav_hover.png);
	background-repeat:no-repeat;
	background-position:3px;
	list-style-type:none;
	padding-left: 12px;
	margin:0px;
	}

.contentBold_coolBlue a:link, .contentBold_coolBlue a:active, .contentBold_coolBlue a:visited  {	
	font-family: Arial, verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #1B4D9E;
padding-left: 8px;
margin: 0;
}

.contentBold_coolBlue a:hover {	
	font-family: Arial, verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000066;
padding-right: 8px;
margin: 0;
}