@charset "utf-8";
/* CSS Document */

/* Universal Elements */

	body
		{
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1em;
		}
	
	table
		{
			border-collapse: collapse;
		}
	
	td, th
		{
		}
	
	th
		{
		}
	
/* Specific IDs */

	#map_canvas
		{
			border-width: 1px;
			border-style: solid;
			border-color: black;
		}

/* Class Groups */

	/* .RouteList */

		.RouteList th
			{
				font-weight: bold;
				text-align: center;
			}
		
		.RouteList th, .RouteList td
			{
				vertical-align: middle;
				border-color: white;
				border-width: 10px;
				border-style: solid;
			}
		
		.RouteList a
			{
				padding-left: 1em;
			}
		
		.RouteList .AdherenceUnknown
			{
				background-color: yellow;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8em;
				font-weight: bold;
			}

		.RouteList .AdherenceOnTime
			{
				background-color: limegreen;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8em;
				font-weight: bold;
			}

		.RouteList .AdherenceLate
			{
				background-color: red;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8em;
				font-weight: bold;
			}

		.RouteList .NoRun
			{
				background-color: darkgray;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8em;
				font-weight: bold;
			}

	/* .offset */

		th.offset
			{
				background-color: darkorange;
			}
		
		td.offset
			{
				background-color: orange;
			}

	/* .mapexample */

		table.mapexample th, table.mapexample td
			{
				text-align: left;
				vertical-align: top;
				border: 1px solid black;
				padding-left: 0.25em;
				padding-right: 0.25em;
			}

	/* HeadsignList */

		ul.HeadsignList
			{
				padding: 0;
			}
		
		ul.HeadsignList li
			{
				list-style-type: none;
				padding-left: 2em;
				text-indent: -2em;
			}

	/* .RunsToday__ */

		.RunsTodayYes
			{
				font-weight: bold;
				color: black;
			}
		
		.RunsTodayNo
			{
				font-weight: bold;
				color: gray;
			}
	
	/* .button */

		.buttonItem:hover
			{
				color: firebrick;
				cursor: pointer;
			}

		.buttonEffect
			{
				font-weight: bold;
				background-color: silver;
				padding-top: 0.25em;
				padding-bottom: 0.25em;
				padding-left: 0.5em;
				padding-right: 0.5em;
				font-size: 1.5em;
				position: relative;
			}

		.buttonEffectMinimized
			{
				border-radius: 0.75em;
				border: 1px solid white;
			}

		.buttonEffectExpanded
			{
				border-top-left-radius: 0.75em;
				border-bottom-left-radius: 0.75em;
				border-top: 1px solid white;
				border-left: 1px solid white;
				border-bottom: 1px solid white;
				border-right: 1px solid black;
			}
		
		.buttonMenu
			{
				position: absolute;
				top: -1px;
				background-color: silver;
				border-top-right-radius: 0.75em;
				border-bottom-right-radius: 0.75em;
				border-bottom-left-radius: 0.75em;
				border: 1px solid white;
				z-index: 1;
			}
		
		.buttonMenuItem
			{
				padding: 0.25em;
				text-align: left;
			}
	
		.buttonMenuItem:not(:last-child)
			{
				border-bottom: 1px solid white;
			}

		.buttonMenuItem:hover
			{
				color: firebrick;
				cursor: pointer;
			}

/* General Classes in Specific Circumstances */

	.duplicateName
		{
			color: lightgray;
		}
	
	.PopUpContent
		{
			font-size: 0.8em;
		}

/* General Classes in Broad Circumstances */

	.noBorder
		{
			border-style: none;
		}
	
	.noShade
		{
			background-color: white;
		}
	
	.noBold
		{
			font-weight: normal;
		}

	.noWrap
		{
			white-space: nowrap;
		}

	.HighlightYellow
		{
			background-color: yellow;
		}
	
	.alignLeft
		{
			text-align: left;
		}
	
	.alignRight
		{
			text-align: right;
		}
	
	.alert
		{
			color: red;
		}
