@charset "utf-8";
/* CSS Document */

/* MARTA Colors
	Blue: #3E78DA
	Yellow: #F7CD30
	Orange: #EA7D09
*/

/* Universal Elements */

	html
		{
			height: 100%;
		}

	body
		{
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1em;
			height: 100%;
			padding: 0;
		}
	
	table
		{
			border-collapse: collapse;
		}
	
	a, a:link, a:visited
		{
			color: black;
			text-decoration: none;
		}
	
	a:hover
		{
			color: #3E78DA;
			text-decoration: none;
		}

/* ID Groups */

	/* #NavHeader */
	
		#NavHeader
			{
				display: table;
			}
		
		#NavHeader:after
			{
				display: block;
				clear: both;
				content: " ";
				height: 0;
				overflow: hidden;
			}
		
		#NavHeader .VerticalGroup
			{
				display: table-row;
			}
		
		#NavHeader .BlankDiv
			{
				display: table-cell;
				background-color: #F7CD30;
				position: relative;
				top: -2px;
				border: 1px solid #F7CD30;
				border-bottom-left-radius: 1em;
			}
	
		#NavHeader #NavExpandHolder
			{
				font-size: 1.75em;
				vertical-align: top;
				display: table-cell;
				border-top-left-radius: 1em;
				border-top-right-radius: 1em;
				border-width: 1px;
				border-color: #F7CD30;
				position: relative;
				z-index: 1;
			}
		
		#NavHeader #NavExpand.NavMinimized
			{
				border-radius: 1em;
			}

		#NavHeader #LogoMenuHolder
			{
				display: table-cell;
			}
	
		#NavHeader #LogoHolder
			{
				padding-left: 0.25em;
				padding-bottom: .5em;
			}
		
		#NavHeader #NavExpand
			{
				font-family: "Courier New", Courier, monospace;
				font-weight: bold;
				text-align: center;
				margin: -1px;
				padding-left: 0.25em;
				padding-right: 0.25em;
				border-width: 1px;
				border-color: #F7CD30;
				border-style: solid;
			}
		
		#NavHeader #NavMenu
			{
				position: relative;
				z-index: 0;
			}

		#NavHeader #logo
			{
				font-weight: bold;
				font-size: 1.2em;
				text-transform: uppercase;
				padding-left: 0.25em;
			}
		
		#NavHeader #logo span
			{
				padding-top: 0.1em;
				padding-bottom: 0.1em;
				padding-left: 0.25em;
				padding-right: 0.25em;
				border-radius: 0.5em;
				margin-right: 0.05em;
			}
		 #NavHeader #logo span:not(:first-child)
		 	{
				margin-left: 0.3em;
			}
	
	/* #map_canvas */
	
		#map_canvas.Normal
			{
				width: 300px;
				height: 300px;
			}

		#map_canvas.FullScreen
			{
				height: 100%;
			}

	/* #loading */

		div#loading
			{
				position: fixed;
				left: 50%;
				top: 40%;
				display: none;
				z-index: 5;
			}

		div#loading div
			{
				position: relative;
				left: -50%;
				top: -50%;
				text-align: center;
				background-color: #3E78DA;
				color: white;
				border-radius: 1em;
				font-size: 2em;
				padding: 0.5em;
				opacity: 0.9;
			}

/* Specific IDs */

	#map_canvas
		{
			border-width: 1px;
			border-style: solid;
			border-color: black;
		}
	

/* Class Groups */

	/* .button */

		.buttonEffect
			{
				font-weight: bold;
				background-color: #F7CD30;
				font-size: 1.5em;
				position: relative;
				border: 1px solid white;
			}
		
		.buttonEffectPadding
			{
				padding-top: 0.25em;
				padding-bottom: 0.25em;
				padding-left: 0.5em;
				padding-right: 0.5em;
			}

		.buttonEffectRoundedAll
			{
				border-radius: 0.75em;
			}

		.buttonEffectRoundedTLTRBL
			{
				border-top-left-radius: 0.75em;
				border-top-right-radius: 0.75em;
				border-bottom-left-radius: 0.75em;
			}
		
		.buttonEffectRoundedTLBL
			{
				border-top-left-radius: 0.75em;
				border-bottom-left-radius: 0.75em;
			}
		
		.buttonEffectRoundedTRBLBR
			{
				border-top-right-radius: 0.75em;
				border-bottom-left-radius: 0.75em;
				border-bottom-right-radius: 0.75em;
			}
		
		.buttonEffectRoundedTRBR
			{
				border-top-right-radius: 0.75em;
				border-bottom-right-radius: 0.75em;
			}
		
		.buttonMenu
			{
				top: -1px;
				background-color: #F7CD30;
				border: 1px solid white;
				z-index: 1;
				display: inline-block;
			}
		
		.buttonFlyout
			{
				position: absolute;
			}
		
		.buttonMenuItem
			{
				padding: 0.25em;
				text-align: left;
			}
	
		.buttonMenuItem:not(:last-child)
			{
				border-bottom: 1px solid white;
			}
		
		.buttonMenuItem:hover
			{
				cursor: pointer;
				color: #3E78DA;
			}
		
		.buttonEffect:hover
			{
				cursor: pointer;
			}
		
		.buttonEffect:hover .buttonItem a, .buttonMenuItem:hover a
			{
				color: #3E78DA;
			}

	/* .RouteList */

		.RouteList th
			{
				font-weight: bold;
				text-align: center;
			}
		
		.RouteList th, .RouteList td
			{
				vertical-align: middle;
				border-color: white;
				border-width: 10px;
				border-style: solid;
			}
		
		.RouteList .AdherenceUnknown
			{
				background-color: yellow;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8em;
				font-weight: bold;
			}

		.RouteList .AdherenceOnTime
			{
				background-color: limegreen;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8em;
				font-weight: bold;
			}

		.RouteList .AdherenceLate
			{
				background-color: red;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8em;
				font-weight: bold;
			}

		.RouteList .NoRun
			{
				background-color: darkgray;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8em;
				font-weight: bold;
			}

	/* .countdownTimer */
	
		.countdownTimer
			{
				width: 300px;
			}
		
		.countdownTimer #CountdownTimerRefresh
			{
				position: relative;
				left: 0;
				top: 0;
				width: 220px;
				background-color: #EA7D09;
				border-radius: 0.75em;
				margin-top: -0.25em;
				margin-bottom: -0.25em;
				margin-left: -0.5em;
				margin-right: -0.5em;
				padding-top: 0.25em;
				padding-bottom: 0.25em;
				padding-left: 0.5em;
				padding-right: 0.5em;
			}
		
		.countdownTimer a, .countdownTimer span
			{
				white-space: nowrap;
			}

	/* .offset */

		th.offset
			{
				background-color: darkorange;
			}
		
		td.offset
			{
				background-color: orange;
			}

	/* .mapexample */

		table.mapexample th, table.mapexample td
			{
				text-align: left;
				vertical-align: top;
				border: 1px solid black;
				padding-left: 0.25em;
				padding-right: 0.25em;
			}

	/* HeadsignList */

		ul.HeadsignList
			{
				padding: 0;
			}
		
		ul.HeadsignList li
			{
				list-style-type: none;
				padding-left: 2em;
				text-indent: -2em;
			}

	/* .RunsToday__ */

		.RunsTodayYes
			{
				font-weight: bold;
				color: black;
			}
		
		.RunsTodayEarlier
			{
				font-weight: bold;
				color: gray;
			}
	
		.RunsTodayNo
			{
				font-weight: bold;
				color: gray;
			}
	
/* General Classes in Specific Circumstances */

	.duplicateName
		{
			color: lightgray;
		}
	
	.PopUpContent
		{
			font-size: 0.8em;
		}
	
	.GridTable td, .GridTable th
		{
			border: 1px solid black;
		}
	
	body.FullScreen
		{
			margin: 0;
		}

/* General Classes in Broad Circumstances */

	.noBorder
		{
			border-style: none;
		}
	
	.noShade
		{
			background-color: white;
		}
	
	.noBold
		{
			font-weight: normal;
		}

	.noWrap
		{
			white-space: nowrap;
		}

	.HighlightYellow
		{
			background-color: yellow;
		}
	
	.alignLeft
		{
			text-align: left;
		}
	
	.alignRight
		{
			text-align: right;
		}
	
	.alert
		{
			color: red;
		}
