@charset "utf-8";
/* CSS Document */

/* MARTA Colors
	Blue: #3E78DA
	Yellow: #F7CD30
	Orange: #EA7D09
*/

/* Universal Elements */

	html
		{
			height: 100%;
		}

	body
		{
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1rem;
			height: 100%;
			padding: 0;
            margin-bottom: 5rem;
		}
	
	table
		{
			border-collapse: collapse;
		}
	
	a, a:link, a:visited
		{
			color: black;
			text-decoration: none;
            display: block;
		}
	
	a:hover
		{
			color: #EA7D09;
			text-decoration: none;
		}

/* ID Groups */

	/* #NavHeader */
	
		#NavHeader
			{
				display: table;
			}
		
		#NavHeader:after
			{
				display: block;
				clear: both;
				content: " ";
				height: 0;
				overflow: hidden;
			}
		
		#NavHeader .VerticalGroup
			{
				display: table-row;
			}
		
		#NavHeader .BlankDiv
			{
				display: table-cell;
				background-color: #F7CD30;
				position: relative;
				top: -2px;
				border: 1px solid #F7CD30;
				border-bottom-left-radius: 1rem;
			}
	
		#NavHeader #NavExpandHolder
			{
				font-size: 1.75rem;
				vertical-align: top;
				display: table-cell;
				border-top-left-radius: 1rem;
				border-top-right-radius: 1rem;
				border-width: 1px;
				border-color: #F7CD30;
				position: relative;
				z-index: 1;
			}
		
		#NavHeader #NavExpand.NavMinimized
			{
				border-radius: 1rem;
			}

		#NavHeader #LogoMenuHolder
			{
				display: table-cell;
			}
	
		#NavHeader #LogoHolder
			{
				padding-left: 0.25rem;
				padding-bottom: .5rem;
			}
		
		#NavHeader #NavExpand
			{
				font-family: "Courier New", Courier, monospace;
				font-weight: bold;
				text-align: center;
				margin: -1px;
				padding-left: 0.25rem;
				padding-right: 0.25rem;
				border-width: 1px;
				border-color: #F7CD30;
				border-style: solid;
			}
		
		#NavHeader #NavMenu
			{
				position: relative;
				z-index: 0;
			}

		#NavHeader #logo
			{
				font-weight: bold;
				font-size: 1.2rem;
				text-transform: uppercase;
				padding-left: 0.25rem;
			}
		
		#NavHeader #logo span
			{
				padding-top: 0.1rem;
				padding-bottom: 0.1rem;
				padding-left: 0.25rem;
				padding-right: 0.25rem;
				border-radius: 0.5rem;
				margin-right: 0.05rem;
			}
		 #NavHeader #logo span:not(:first-child)
		 	{
				margin-left: 0.3rem;
			}
	
	/* #map_canvas */
	
		#map_canvas.Normal
			{
				width: 300px;
				height: 300px;
			}

		#map_canvas.FullScreen
			{
				height: 100%;
			}

	/* #loading */

		div#loading
			{
				position: fixed;
				left: 50%;
				top: 40%;
				display: none;
				z-index: 5;
			}

		div#loading div
			{
				position: relative;
				left: -50%;
				top: -50%;
				text-align: center;
				background-color: #3E78DA;
				color: white;
				border-radius: 1rem;
				font-size: 2rem;
				padding: 0.5rem;
				opacity: 0.9;
			}

/* Specific IDs */

	#map_canvas
		{
			border-width: 1px;
			border-style: solid;
			border-color: black;
		}
	

/* Class Groups */

	/* .button */

		.buttonEffect
			{
				font-weight: bold;
				background-color: #F7CD30;
				font-size: 1.5rem;
				position: relative;
				border: 1px solid white;
			}
		
		.buttonEffectPadding
			{
				padding-top: 0.25rem;
				padding-bottom: 0.25rem;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}

		.buttonEffectRoundedAll
			{
				border-radius: 0.75rem;
			}

		.buttonEffectRoundedTLTRBL
			{
				border-top-left-radius: 0.75rem;
				border-top-right-radius: 0.75rem;
				border-bottom-left-radius: 0.75rem;
			}
		
		.buttonEffectRoundedTLBL
			{
				border-top-left-radius: 0.75rem;
				border-bottom-left-radius: 0.75rem;
			}
		
		.buttonEffectRoundedTRBLBR
			{
				border-top-right-radius: 0.75rem;
				border-bottom-left-radius: 0.75rem;
				border-bottom-right-radius: 0.75rem;
			}
		
		.buttonEffectRoundedTRBR
			{
				border-top-right-radius: 0.75rem;
				border-bottom-right-radius: 0.75rem;
			}
		
		.buttonEffectGroup
			{
				font-weight: bold;
				font-size: 1.5rem;
				position: relative;
			}
		
		.buttonEffectItem
			{
				background-color: #F7CD30;
				border-right: 1px solid white;
				border-bottom: 1px solid white;
			}
        
        .buttonEffectSpacer
			{
				background-color: #F7CD30;
                width: 6rem;
				border-top-right-radius: 0.75rem;
				border-right: 1px solid white;
				border-bottom: 1px solid white;
                position: relative;
                top: 0;
                left: 0;
			}
        
        .buttonEffectGroup.DivTable .DivTableRow:first-of-type .buttonEffectItem.DivTableCell
			{
				border-top-left-radius: 0.75rem;
				border-top-right-radius: 0.75rem;
			}
		
        .buttonEffectGroup.DivTable .DivTableRow:last-of-type .buttonEffectItem.DivTableCell
			{
				border-bottom-left-radius: 0.75rem;
				border-bottom-right-radius: 0.75rem;
			}
		
		.buttonMenu
			{
				top: -1px;
				border: 1px solid white;
				z-index: 1;
				display: inline-block;
			}
		
		.buttonFlyout
			{
				position: absolute;
			}
		
		.buttonFlyoutRight
			{
				font-weight: bold;
				background-color: #F7CD30;
				position: absolute;
				top: 0;
                right: 0;
				z-index: 1;
				display: inline-block;
			}
		
		.buttonFlyoutRight .buttonMenuItem
            {
				border-bottom: 1px solid white;
                text-align: right;
            }
        
        .buttonMenuItem
			{
				padding: 0.25rem;
				text-align: left;
			}
	
		.buttonMenuHeader, .buttonEffectHeader
			{
				padding: 0.25rem;
				text-align: left;
                background-color: dimgray;
                color: #F7CD30;
                font-size: 1rem;
                cursor: default;
			}
	
		.buttonMenuHeader:first-child
			{
                background-color: dimgray;
				border-top-right-radius: 0.75rem;
				border-top-left-radius: 0.75rem;
			}
	
		.buttonMenuHeader:last-child
			{
                background-color: dimgray;
				border-bottom-right-radius: 0.75rem;
				border-bottom-left-radius: 0.75rem;
			}
	
		.buttonMenuItem:not(:last-child)
			{
				border-bottom: 1px solid white;
			}
            
        .ButtonMenuIndent
            {
                padding-left: 2rem;
            }
		
		.buttonMenuItem:hover
			{
				cursor: pointer;
				color: #EA7D09;
			}
		
		.buttonEffect:hover
			{
				cursor: pointer;
			}
		
		.buttonEffect:hover .buttonItem a, .buttonMenuItem:hover a
			{
				color: #EA7D09;
			}
        
        .buttonArrivalSpacer
            {
                width: 1.5rem;
            }

        .buttonArrivalCell
            {
                padding-left: 3rem;
            }
            
        .DivTableRow .buttonArrivalCell, .DivTableRow .buttonArrivalSpacer
            {
                padding: 0.25rem;
                border-bottom: 1px solid white;
            }

        .buttonArrivalAlert
            {
                font-size: 0.8rem;
            }

	/* .RouteList */

		.RouteList th
			{
				font-weight: bold;
				text-align: center;
			}
		
		.RouteList th, .RouteList td
			{
				vertical-align: middle;
				border-color: white;
				border-width: 10px;
				border-style: solid;
			}
		
		.RouteList .AdherenceUnknown
			{
				background-color: yellow;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8rem;
				font-weight: bold;
			}

		.RouteList .AdherenceOnTime
			{
				background-color: limegreen;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8rem;
				font-weight: bold;
			}

		.RouteList .AdherenceLate
			{
				background-color: red;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8rem;
				font-weight: bold;
			}

		.RouteList .NoRun
			{
				background-color: darkgray;
				vertical-align: middle;
				text-align: center;
				font-size: 0.8rem;
				font-weight: bold;
			}

	/* .countdownTimer */
	
		.countdownTimer
			{
				width: 300px;
			}
		
		.countdownTimer #CountdownTimerRefresh
			{
				position: relative;
				left: 0;
				top: 0;
				width: 220px;
				background-color: #EA7D09;
				border-radius: 0.75rem;
				margin-top: -0.25rem;
				margin-bottom: -0.25rem;
				margin-left: -0.5rem;
				margin-right: -0.5rem;
				padding-top: 0.25rem;
				padding-bottom: 0.25rem;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
		
		.countdownTimer a, .countdownTimer span
			{
				white-space: nowrap;
			}

	/* .realtime */
        
        .realtimeGap
            {
                padding-left: 1em;
            }
        
        .realtimeStrikethrough
            {
                text-decoration: line-through;
            }

        .realtimeDescription
            {
                font-size: 0.8em;
            }

        .realtimeLate
            {
                color: MediumOrchid;
            }

        .realtimeEarly
            {
                color: Red;
            }

        .realtimeOnTime
            {
                color: Green;
            }

	/* .offset */

		th.offset
			{
				background-color: darkorange;
			}
		
		td.offset
			{
				background-color: orange;
			}

	/* .mapexample */

		table.mapexample th, table.mapexample td
			{
				text-align: left;
				vertical-align: top;
				border: 1px solid black;
				padding-left: 0.25rem;
				padding-right: 0.25rem;
			}

	/* HeadsignList */

		ul.HeadsignList
			{
				padding: 0;
			}
		
		ul.HeadsignList li
			{
				list-style-type: none;
				padding-left: 2rem;
				text-indent: -2rem;
			}

	/* .RunsToday__ */

		.RunsTodayYes
			{
				font-weight: bold;
				color: black;
			}
		
		.RunsTodayEarlier
			{
				font-weight: bold;
				color: gray;
			}
	
		.RunsTodayNo
			{
				font-weight: bold;
				color: gray;
			}
	
		#SchedulesForBusStops .RunsTodayNo
            {
                cursor: default;
            }
        
		#SchedulesForBusStops .RunsTodayNo:hover
            {
				color: gray;
            }
        
	/* .RunsToday__ */

        .DivTable
            {
                display: table;
            }

        .DivTableRow
            {
                display: table-row;
            }

        .DivTableCell
            {
                display: table-cell;
            }

/* General Classes in Specific Circumstances */

	.duplicateName
		{
			color: lightgray;
		}
	
	.PopUpContent
		{
			font-size: 0.8rem;
		}
	
	.GridTable td, .GridTable th
		{
			border: 1px solid black;
		}
	
	.HideOnLoad
        {
            display: none;
        }
    
    .WhitespaceAtBottom
        {
            height: 5rem;
        }
    
    body.FullScreen
		{
			margin: 0;
		}
    
/* General Classes in Broad Circumstances */

	.noBorder
		{
			border-style: none;
		}
	
	.noShade
		{
			background-color: white;
		}
	
	.noBold
		{
			font-weight: normal;
		}

	.noWrap
		{
			white-space: nowrap;
		}

	.HighlightYellow
		{
			background-color: yellow;
		}
    
    .smaller
        {
            font-size: 0.7em;
        }
	
	.alignLeft
		{
			text-align: left;
		}
	
	.alignRight
		{
			text-align: right;
		}
	
	.alert
		{
			color: red;
		}
